@media screen and (max-width: 500px) {
  #main{
  height: 600px !important;
  }
}

#main{
  position: relative;
  height: 100vh;
  width: 100%;
  left:0px;
}

#main h1{
  text-align: left;
  color: #797474;
  font-size: 4rem;
  margin-bottom: 3px;
  /**/
  background: #DBDBDB;
padding: 5px;
border-radius: 1px;
}

#main h2{
  text-align: right;
  color: #b9d6c0 ; /*#37a250*/
  font-size: 25px;
  /**/
  background: green;
    padding: 5px;
    width: fit-content;
    right: 0;
    border-radius: 1px;
}

#main-page-img-back-block {
  position: absolute;
  opacity: 1;
  background: #1717171F;
  height: 100%; /*before  video 410px*/
  width: 100%;
  bottom:0px;
  left:0px;
}

#main-title-block {
  /*margin: 15px;*/
  position: absolute;
  /*right: 0%; video*/
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  min-width: 200px;
  z-index:1;
  animation-name: main-title-block-anim;
  animation-duration:  2s;
  animation-fill-mode:forwards;
}

@keyframes main-title-block-anim {
from {transform: translate(-50%,-50%);}
to {transform: translate(-50%,-65%);}
}

#main-title-block-sponsors{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      margin-top: 145px;
      width: 200px;
      height: 75px;
}
#main-title-block-sponsors-left{
position: absolute;
left: 0;
height: 100%;
width: 50%;
border-right: 1px #DBDBDB solid;
overflow: hidden;

}
#main-title-block-sponsors-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    border-left: 1px #DBDBDB solid;
    overflow: hidden;

}
#main-title-block-sponsors-left-image{
  height: 100%;
  position: absolute;
  left: 0;
  transform: translateX(300%);
  animation-name: main-title-block-sponsors-left-image;
  animation-duration:  2s;
  animation-fill-mode:forwards;
}
#main-title-block-sponsors-right-image{
  height: 100%;
  position: absolute;
  right: 0;
  transform: translateX(-300%);
  animation-name: main-title-block-sponsors-right-image;
  animation-duration:  2s;
  animation-fill-mode:forwards;
}

@keyframes main-title-block-sponsors-left-image {
  from {  transform: translateX(300%);}
  to {  transform: translateX(0%);}
}
@keyframes main-title-block-sponsors-right-image {
from {  transform: translateX(-300%);}
to {  transform: translateX(0%);}
}

.main-block-button {
  position: absolute;
  left: 50%;
  bottom: 60px;
  transform: translate(-50%,0px);
  z-index:2;
}
