 .mobile-size-fix
 {
   font-size: 14px;
 }
@media screen and (max-width: 500px) {
  .mobile-nav{
    display: block !important;
    background: #DBDBDB;
    position: absolute;
    width: 100%;
    top:70px;
    height: 0px;
    opacity: 1;
    overflow: hidden;
    transition: height 0.1s linear 0s,opacity 0.2s linear 0.1s;
  }

  .mobile-nav-after{
      opacity: 1;
    height: 120px;
        border-bottom: 10px solid green;
  }

  .mobile-href{
    margin: 10px;
    position: relative;
    width: 100%;
  }

  .short-button-menu{
    display: block !important;
  }

.main-block-nav{
  display: none !important;
}

.main-upper-block{
height: 70px !important;
opacity:1 !important;
}
.main-upper-block-logo{
  height: 50px !important;
width: 50px !important;
}
.main-upper-block-logo-behind{
      left: 20px !important;
      height: 50px !important;
    width: 50px !important;
}
}
.mobile-nav{
  display: none;
}


.short-button-menu{
  display: none;
  width: 40px;
  height: 30px;
  position: absolute;
  right: 110px;
  top: 50%;
  transform: translate(0,-50%);
}

.short-button-menu .bar{
  width: 100%;
  border-radius: 15%;
  height: 15%;
  position: absolute;
  background: green;
  opacity: 0.8;
  left: 0;
  transform-origin: center;
}
.short-button-menu .bar-top{
  top: 0;
  transition: transform 0.15s linear 0s, left 0.15s linear 0s,top 0.15s linear 0s;
}
.short-button-menu .bar-mid{
  top: 50%;
  transform: translate(0,-50%);
  transition: opacity 0.2s linear 0s;
}
.short-button-menu .bar-bot{
  top: 100%;
  transform: translate(0,-100%);
  transition: transform 0.15s linear 0s,left 0.15s linear 0s,top 0.15s linear 0s;
}
.short-button-menu-open .bar-top{
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.short-button-menu-open .bar-mid{
opacity:0;
}
.short-button-menu-open .bar-bot{
  left:50%;
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
html,body {
overflow-x:hidden;
}
body {
background: #171717;
overflow-y:hidden;
}

/**/
.container-for-video-intro{

}
/**/

#main-page-img {
  position: fixed;
    /*
  background: url(/images/main-page-1.jpg);
  */
  background-position: center center;
  background-size: cover;
    /*
  height: 100%;
  width: 100%;
    */
  top:50%;

  left:50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;

  /**/
  min-width: 100%;
  min-height: 100%;
  /**/
}



.main-upper-block{
  position: fixed;
  opacity: 0.88;
  background: #DBDBDBb3;/*for video*/
  border-bottom: 10px solid green;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  height: 80px;
  width: 100%;
  top:0px;
  left:0px;
  z-index:5;
  transition: opacity 0.1s linear 0s, height 0.3s linear 0s;
}

.main-upper-block-after{
  opacity: 1;
  height: 70px;
  /*background: #DBDBDBFF;/*for video*/
  background: rgba(219, 219, 219, 1);/*for video*/
}

.main-upper-block-logo{
  position: absolute;
  background-image: url(/images/title.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 70px;
  width: 70px;
  top:50%;
  transform: translate(-50%,-50%);
  left:50%;
  margin: 0px;
  transition: width 0.3s linear 0s, height 0.3s linear 0s;
}

.main-upper-block-logo-after{
  height: 50px;
  width: 50px;
}

.main-upper-block-logo-behind{
  position: absolute;
  background: none;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  top:50%;
  transform: translate(0px,-50%);
  left:20px;
  margin: 0px;
  transition: width 0.3s linear 0s, height 0.3s linear 0s;
}

.main-upper-block-logo-behind-after{
  height: 50px;
  width: 50px;
}
.title-block-login{
  position: absolute;
  right: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.main-block-nav{
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.main-block-local{
  color: green;
}
.main-block-local:hover{
  color: #171717;
}
.main-block-login-ava{
  right: 20px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  outline: none;
  border: none;
  cursor:pointer;
}

.title-block-login-info-closed{
  outline: 0 !important;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
  position: absolute;
  border-bottom-left-radius: 3px;
  right: 0;
  background: #dbdbdb;
  width: 170px;
  height: 100px;
  top: 70px;
  z-index: 3;
  opacity: 0;
  transition: opacity 0.15s linear 0s;
  overflow: hidden;
  display: none;
}
.title-block-login-info-open{
    display: block;
    opacity: 1;
  /*height: 100px;*/
}

.title-block-login-info{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title-block-login-logout{
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  margin-bottom: 10px;
}
.login-yandex-logo{
  background: url(/images/yandex-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0;
  min-width: 100px;
  min-height: 55px;
  border: none;
  transition: transform 0.2s linear 0s;
}
.login-yandex-logo:hover{
  transform: scale(1.1);
}
.login-vk-logo{
  background: url(/images/vk-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0;
  min-width: 70px;
  min-height: 70px;
  border: none;
  transition: transform 0.2s linear 0s;
}
.login-vk-logo:hover{
  transform: scale(1.1);
}
.login-twitch-logo{
  background: url(/images/twitch-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0;
  min-width: 100px;
  min-height: 45px;
  border: none;
  transition: transform 0.2s linear 0s;
}
.login-twitch-logo:hover{
  transform: scale(1.1);
}

.loader {
  position: absolute;
  border: 5px solid #f3f3f3;
  border-top: 5px solid green;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0;
  left: 50%;
  top: 50%;
  transform-origin: center;
  animation: spin 2s linear infinite;
  z-index: 3;
}

.loader-submit{
  position: absolute;
  border: 3px solid #ffffff;
  border-top: 3px solid #9a9a9a;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0;
  left: 50%;
  top: 50%;
  transform-origin: center;
  animation: spin 2s linear infinite;
  z-index: 3;
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.logo-box-upper-block-right{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 110px;
}
.submit-button-block{
  position: absolute;
  bottom: 9px;
  left: 130px;
  height: 50px;
  width: 50px;
  margin: 0;
}
.submit-button-block .loader{
  border: 3px solid #f3f3f3;
  border-top: 3px solid green;
  width: 30px;
  height: 30px;
}









.login-alerts-class-contacts{
  opacity: 1;
  position: relative;
  bottom: 0;
  width: 100%;
  /*height: 70px;*/
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.4s linear 0s;
  overflow: hidden;
}
.login-alerts-class-contacts-closed{
  opacity: 0;
    transition: opacity 0.4s linear 0s;
    overflow: hidden;
}
.login-alerts-class-contacts-open{
opacity: 1;
animation: alert_login  7s infinite ease-in-out;
animation-iteration-count: 1;
animation-fill-mode: forwards;
}

.loader-login{
  display: inline-block;
      position: relative;
      border: 3px solid #ffffff;
      border-top: 3px solid #9a9a9a;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      margin: 0;
      left: 50%;
      top: 12px;
      margin-top: 0;
      transform-origin: center;
      animation: spin 2s linear infinite;
      z-index: 3;
}
@keyframes alert_login {
from {opacity:  1;padding: .75rem 1.25rem;height: auto; padding-right: 4rem;margin-bottom:1rem;
    }
92% {opacity:  1;padding: .75rem 1.25rem;height: auto; padding-right: 4rem;margin-bottom:1rem;}
to {padding: 0;margin: 0;height: 0;
visibility: hidden;}
}



a{
  color: green !important;
}
