#about{
  background: #f2f2f2;
  position: absolute;
  height: 700px;
  width: 100%;
  top:1000px;
  left:0px;
  min-height: 800px;
  z-index:3;
}
#about h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: 20px;
  color: #171717;
}
